/* Basic reset */
html, body, p, ul, li, h1, h2, h3, div {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

/* Global */
html, body {
  width: 100%;
  height: 100%; }

body {
  perspective: 700px;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  padding: 5px;
  background: ORANGERED; }

#app {
  width: 100%;
  height: 100%;
  background: IVORY; }

/* Canvas */
canvas {
  max-width: 100%;
  min-height: 150px; }

.charts {
  min-height: 150px; }

/* Minimal flex grid */
.container {
  display: flex; }

.container.vertical {
  flex-direction: column; }

.container > * {
  flex: 1 1 auto; }

.container .shrink {
  flex: 0 1 auto; }

/* Area Description */
p.description {
  min-height: 30px; }

/* List */
ul {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  list-style: none;
  padding: 5px; }

/* Styling Radio and Checkbox */
input[type='radio'], input[type='checkbox'] {
  display: none; }

input[type='radio'] + .name, input[type='checkbox'] + .name {
  display: block;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  padding-left: 2rem;
  border: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  transition: all 0.3s ease-out; }

input[type='radio']:checked + .name, input[type='checkbox']:checked + .name {
  border-color: DARKORANGE; }

/* Radio specific */
input[type='radio'] + .name {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15649/radio.svg) 10px 50% no-repeat;
  background-size: 16px; }

input[type='radio']:checked + .name {
  background: SNOW url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15649/radio-checked.svg) 10px 50% no-repeat;
  background-size: 16px; }

/* Checkbox specific */
input[type='checkbox']:checked + .name {
  background: SNOW url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15649/checked.svg) 10px 50% no-repeat;
  background-size: 16px; }

/* Info Button */
#info-btn {
  position: absolute;
  top: 0;
  right: 0; }

#info-btn a {
  width: 44px;
  height: 44px;
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/15649/info.svg); }

#info-btn a span {
  display: none; }

/* Info panel */
.hidden {
  transform: rotateY(-90deg); }

.show {
  transform: rotateY(0); }

#info-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ORANGERED;
  color: white;
  transform-origin: 0 0;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

#info-panel a {
  color: white; }

#info-panel p {
  margin: 0.5em; }

p.more-space {
  margin: 2em; }
